main {
  padding: 80px 30px; /* Header offset */
  transition: margin-left 240ms cubic-bezier(0.22, 1, 0.36, 1);
}

/* When sidebar is open */
.main.shift {
  margin-left: 260px;
}

/* When sidebar is closed */
.main {
  margin-left: 64px;
}

@media (max-width: 768px) {
  .main,
  .main.shift {
    margin-left: 0;
  }
}
